.card-footer.pb-0
    .row
        .col-6.text-center
            label
                input(type='radio', name='bsn-length', data-param='length', value='8')
                = t('generator.NL.bsn.length', {length: 8})
        .col-6.text-center
            label
                input(type='radio', name='bsn-length', data-param='length', value='9', checked)
                = t('generator.NL.bsn.length', {length: 9})
