doctype html
html(lang='en')
    head
        meta(charset='utf8')
        title= t('main.title')
        meta(name='description', content=t('main.description'))
        meta(name='keywords', content=t('main.keywords'))
        meta(name='author', content='Avris <andre@avris.it>')

        meta(property='og:type', content='article')
        meta(property='og:title', content=t('main.title'))
        meta(property='og:url', content=baseUrl)
        meta(property='og:image', content=baseUrl + asset('images/banner.png'))

        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content=t('main.title'))
        meta(name='twitter:description', content=t('main.description'))
        meta(name='twitter:image', content=baseUrl + asset('images/banner.png'))
        meta(name='twitter:creator', content='@Avris')
        meta(name='twitter:domain', content=baseUrl)

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

        link(rel='shortcut icon' href=asset('images/favicon.png'))
        link(rel='stylesheet', href=asset('app.css'))

        script(src='https://arc.io/widget.min.js#gC4ioRb3', async)

    body.d-flex.flex-column
        header.mt-5.mb-4.text-white
            .container
                .d-flex.flex-column
                    h1.links-white
                        a(href='/', data-filter-target='.generators', data-filter-value='')
                            img(src=asset('images/logo.svg')).mr-3
                            = t('main.title')
                    block info
        nav.container-wide
            block nav
        main.flex-grow-1
            block content
        footer.py-4.mt-5.links-white
            .container
                include footer

    script(src=asset('app.js'))

    script.
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u="//matomo.avris.it/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '5']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
