.card-footer.pb-0
    .row
        .col-12.col-xl-8
            .form-group
                label= t('generator.PL.pesel.birthdate')
                input.form-control(type='text', data-param='birthdate', placeholder='1969(-07(-12))', pattern='^(18|19|20|21|22)[0-9][0-9](-[0-9][0-9])?(-[0-9][0-9])?$')
        .col-12.col-xl-4
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='gender', value='m', checked).form-check-input
                        = t('gender.male')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='gender', value='f', checked).form-check-input
                        = t('gender.female')
