.card-footer.pb-0
    .row
        .col-12
            .form-group
                = t('generator.DE.rvnr.area')
                select(data-map='areas', data-country='DE', data-param='area').form-control.select2
    .row
        .col-12.col-xl-8
            .form-group
                label= t('generator.DE.rvnr.birthdate')
                input.form-control(type='text', data-param='birthdate', placeholder='1969(-07(-12))', pattern='^(18|19|20|21|22)[0-9][0-9](-[0-9][0-9])?(-[0-9][0-9])?$')
        .col-12.col-xl-4
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='gender', value='m', checked).form-check-input
                        = t('gender.male')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='gender', value='f', checked).form-check-input
                        = t('gender.female')
            .form-group
                .form-check
                    label.form-check-label
                        input(type='checkbox', data-param='gender', value='x', checked).form-check-input
                        = t('gender.diverse')
    .row
        .col-12
            .form-group
                label= t('generator.DE.rvnr.surname')
                input.form-control(type='text', data-param='surname')
